body {
    background-image: url("../images/backgroun.jpg");
}

.header-div {
    background-color: #4a5054;
    color: whitesmoke;
    padding: 12px;
    text-align: center;
}

.city-searched {
    cursor: pointer;
    background-color: whitesmoke;
}

#currentCity {
    background-color: #157fc5;
    color:white;
    opacity: 1;
    border-radius:10px;
}

#cityName {
    margin-left: 25px !important;
}

#futureForecastDiv {
    width: 100%;
    display: flex;
}

#forecastDiv {
    width: 13%;
    background-color: #2f8ece;
    color:white;
    border-radius: 8px;
    opacity: 1;
}

#forecasth5 {
    color: whitesmoke;
}

aside {
    background-color: #f2f5f7;
    border-radius: 8px;
    opacity: 1;
}

form button {
    border-radius: 5px;
    background-color: #157fc5;
    color:white;
}

.fa-search-location{
    font-size: 1.25rem;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
}

#clearBtn {
    border-radius: 5px;
    background-color: #157fc5;
    color:white;
    float: right;
}

.uvi {
    border-radius: 5px;
    border: 1px white solid;
}

.hide {
    display: none;
}

@media screen and (max-width: 768px) {
    #forecastDiv {
        width: 90% !important;
    }
}